<div class="jumbotron m-3">
    <h1 class="display-4">Note App Nodejs & Mongodb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, veniam accusamus modi explicabo
        consequuntur esse cum velit sequi. Nisi, doloremque.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse vel asperiores quasi, modi accusantium maxime
        aliquam quod rerum tenetur vero!</p>
    <a href="http://grupoluxury.com.mx" class="btn btn-primary">go to</a>
</div>